
:root {
  --color-blue1: #AAE2FF;
  --color-blue2: #8BC6FF;
  --color-blue3: #6BAAFF;
  --color-blue4: #4890EF;
  --color-blue5: #1976D2;
}
@font-face {
  font-family: 'sangsang';
  font-weight: 500;
  src: url("@/assets/fonts/SangSangBodyM.ttf") format("woff");
}
@font-face {
  font-family: 'sangsang';
  font-weight: 300;
  src: url("@/assets/fonts/SangSangBodyL.ttf") format("woff");
}